.inptbtn{
    height: 82.45px;
    width: 240px;
    
}

button{
    background: #161cdf !important;
    color: white;
}

.container{
    width: 450px;
    height: 450px;
}

body{
    background: lightgray !important;
}

.mybtn{
    width: 125%;
    justify-content: center;
}

.splbtn{
    width: 100% !important;
    
}

.splbtn1{
    width: 70% !important;
    
}

.inptcls{
    width: 350% !important;
    margin-right: 5px;

}

.resdiv{
    display: flex;
    flex-direction: row;
    
}